:root,
h1, h2, h3, h4 {
  font-family: 'Roboto';
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}